h1 {
    color: #1BC4AB ;
}

/* * {
    border: solid;
} */
body{
    background-color: #A97BF9 ;
}
.header{
    background-color: #CCD7BA ;
    display: flex;
    justify-content: space-between;
}

.site-description{
    display: flex;
    flex-direction: column;
    justify-content: first baseline;
}

.grid{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.footer{
    display: flex;
    justify-content: flex-end;
}

p,h2{
    text-align: center;
    color: #FFB276 ;
}